*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.75%;
}

.heading {
    background-color: #c68d8b;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 1rem 0 1rem black;
}

.heading .logotype .logo {
    height: 10rem;
}

.heading .items li {
    display: inline;
    list-style: none;
    padding: 2rem;
    
}
.heading .items li a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.6rem;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .apresentation{
    min-height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: rgb(0, 0, 0, 0.4);
}

.apresentation .header {
    border-bottom: 0.5rem solid #c68d8b;
    border-left: 0.5rem solid #c68d8b;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.2rem;
    margin: 13rem 0 0 20rem;
    min-width: 30rem;
    animation: fade 2s;
}

.apresentation .header h1{
    color: #fff;
    font-size: 4.2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.apresentation .header h2{
    color: #fff;
    font-size: 3.2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.apresentation .content {
    align-self: center;
    justify-self: center;

}

.apresentation div p {
    color: #fff;
    text-align: justify;
    font-size: 4.8rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    margin: 0;

    animation: fade 4s;

    border-bottom: 0.5rem solid #c68d8b;
    border-right: 0.5rem solid #c68d8b;
    border-radius: 1rem;

    padding: 2rem;
}

@keyframes fade {
    0%    { opacity: 0; }
    60%  { opacity: 0; }
    100%   { opacity: 1; }
}

/*=============================================*/

.benefits {
    display: flex;
    background-color:#c68d8b;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.benefits .title-benefits {
    color: #ffff;
    font-size: 4rem;
}

.benefits .separator {
    height: 15rem;
    border-right: 0.3rem solid;
    color: #ffff;
}

.benefits .overflow {
    overflow-y: scroll;
    height: 40rem;
    max-width: 70rem;
    scroll-snap-type: y mandatory;

    
}

.benefits .overflow::-webkit-scrollbar-thumb{
    background-color: #ffff;
    border-radius: 0.7rem;
    
}

.benefits .overflow::-webkit-scrollbar{
    background-color: transparent;
    width: 0.3rem;
    
}

.benefits li {
    list-style: none;
    color: #ffff;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 40rem;
    
}

.benefits li h2 {
    font-size: 3rem;
}

.benefits li p {
    padding: 1.7rem;
    font-size: 2rem;
    color: #ffff;
    text-align: justify;
}

/*=============================================*/

.protocol-service {
    min-height: 100vh;
    background-color: rgb(162, 131, 86);
    display: flex;
    justify-content: center;
    padding: 25vh 0;
}

.protocol-service .card-protocol {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.protocol-service .card-protocol h1 {
    color: #ffff;
    font-size: 3rem;
    min-height: 7.5rem;
    display: flex;
    align-items: center;
    padding: 2.5rem 0;
    text-shadow: 0.1rem 0.1rem 0.3rem #c68d8b;

}

.protocol-service .card-protocol .items-protocol {
    padding: 0 5rem;
}

.protocol-service .list {
    list-style: circle;
    color: #ffff;
}

.protocol-service .card-protocol li {
    color: #ffff;
    padding: 0.7rem;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #c68d8b;

}

/*=============================================*/

.types-stiles {
    background-color: #b75552;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 0.1rem solid #ffff;

}

.types-stiles h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;

    color: #ffff;
    border: 0.1rem solid #ffff;

    border-radius: 1rem;
    background-color: #b75552;
    margin-top: -4rem;
    padding: 3rem;

    box-shadow: 0.3rem 0.3rem 1.5rem black;
}

.types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
    grid-auto-flow: dense;
    gap: 2.5rem;
    padding: 8rem;
    min-height: 100vh;
}

.types h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 4rem;
}

.types .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1.5rem black;
    max-height: 175rem;

    border: 0.2rem solid salmon;
    transition: 1s;
}

.types .card:hover {
    box-shadow: 1.5rem 1.5rem 3rem rgb(0, 0, 0);
}

.types .card .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.types .card .body h2 {
    font-size: 2.2rem;
    margin: 0;
    color: salmon;
}

.types .card .body p {
    font-size: 1.5rem;
    text-align: justify;
}

.types .card .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 0 3rem;
    height: 100%;
}

.types .card .header img {
    width: 8rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

/*=============================================*/

.types-nails {
    background-color: black;
    min-height: 100vh;
    padding: 2rem;
}

.types-nails .inspire-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
   
}

.types-nails .inspire-se img {
    width: 15rem;
    height: 15rem;
}

.types-nails .inspire-se h1 {
    color: white;
    font-size: 2.5rem;
}

.types-nails img {
    max-width: 100%;
    width: 50rem;
    height: 50rem;
    object-fit: cover;
    display: block;
}

.slide {
    max-width: 38rem;
    display: grid;
    box-shadow: 0 0.4rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
    animation: fade 2s;

    padding: 1rem;
}

.slide-items {
    position: relative;
    grid-area: 1/1;
    border-radius: 0.5rem;
}

.slide-nav {
    width: 100%;
    grid-area: 1/1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}


.slide-items > * {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
}

.slide-thumb {
    display: flex;
    grid-column: 1 / 3;
    min-width: 100%;
}

.types-nails button{
    min-width: 100%;
    opacity: 0;
}

.slide-thumb > span {
    flex: 1;
    display: block;
    height: 0.5rem;
    width: 5rem;
    background: rgba(0, 0, 0, 0.4);
    margin: 0.5rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.slide-thumb > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.3rem;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
}

@keyframes thumb {
    to {
        transform: initial;
    }
}

/*=============================================*/

.services-velues {
    min-height: 100vh;
    margin: 0;
    background-color: #ffff;
    padding: 5rem 0;
}

.services-velues img {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-velues .title-services-velues {
    display: flex;
    justify-content: center;
    align-content: center;

    padding-top: 5rem;
    font-size: 2rem;
    color: black;

}

.services-velues .items {
    color: black;

    display: flex;
    align-items: center;
}

.services-velues .items .services {
    margin: 0;
    width: 100%;
}

.services-velues .items .services ul {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.services-velues .items .services ul li{
    margin: 0;
    align-self: flex-end;
}

.services-velues .items .velues {
    margin: 0;
    width: 100%;
}

.services-velues .items .velues ul {
    width: 100%;
}

.services-velues .items li {
    list-style: none;
    font-size: 1.5rem;
    padding: 0.8rem;
}

.services-velues .items .separator {
    border: 0.1rem solid black;
    margin: 0 20rem;
    max-width: 1rem;
    height: 6rem;
}

.services-velues .title-maintenance {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    color: black;

    padding-top: 5rem;
}

/*=============================================*/

.footer {
    min-height: 15vh;
    background-color: rgb(36, 36, 36);
    padding: 2rem;
}

.footer .links {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer .links li {
    display: inline;
    padding: 2rem;
   
}

.footer .links li a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.4rem;
    cursor: pointer;
}

.footer .contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer .contatos span {
    margin: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.footer .contatos span:hover{
    box-shadow: 0.2rem 0.2rem 2rem gray;
}

.footer .contatos span a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer .contatos span a i {
    color: #ffff;
}

.footer .contatos .whats{
    border: 0.2rem solid lightskyblue;
}

.footer .contatos .insta{
    border: 0.2rem solid lightpink;
}

.footer .contatos .face{
    border: 0.2rem solid goldenrod;
}

.footer .contatos .youtube{
    border: 0.2rem solid lightcoral;
}
